---


---

<script>
        import LanyardClient from "../../scripts/lanyardClient.js";
      
        const avatar = document.getElementById("avatar") as HTMLImageElement;
        const username = document.getElementById("username");
        const state = document.getElementById("state");
        const nowplaying = document.getElementById("nowplaying");
        let lastState = "text-green-500";

      
        const client = new LanyardClient();
        let sock = client.subscribe("675104167345258506");
      
        sock.addEventListener("message", (e) => {
                const data = JSON.parse(e.data);
                if (data.op !== 0) {
                return;
                }
                
                const { d } = data;
                console.log(d);
                //avatar.src = `https://cdn.discordapp.com/avatars/${d.discord_user.id}/${d.discord_user.avatar}.png`;
                if (d.listening_to_spotify) {
                        nowplaying.innerHTML = `spotify: playing "${d.spotify.song}" by ${d.spotify.artist}`;
                } else {
                        nowplaying.innerHTML = "spotify: not playing anything at the moment";
                }
                //username.innerHTML = `@${d.discord_user.username}`;

                if (d.discord_status === "online") {
                        state.classList.remove(lastState);
                        state.innerHTML = "online";
                        state.classList.add("text-green-500");
                        lastState = "text-green-500";
                } else if (d.discord_status === "idle") {
                        state.classList.remove(lastState);
                        state.innerHTML = "idle";
                        state.classList.add("text-yellow-500");
                        lastState = "text-yellow-500";
                } else if (d.discord_status === "dnd") {
                        state.classList.remove(lastState);
                        state.innerHTML = "dnd";
                        state.classList.add("text-red-500");
                        lastState = "text-red-500";
                } else {
                        state.classList.remove(lastState);
                        state.innerHTML = "offline";
                        state.classList.add("text-gray-500");
                        lastState = "text-gray-500";
                }
        });
        
</script>


<section class="flex text-white font-mono">
        <h4 id="nowplaying" class="break-words text-lg w-2/4 line-clamp-1">loading...</h4>
</section>